<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.8.0" targetFramework="net45" />
  <package id="CacheManager.StackExchange.Redis" version="0.8.0" targetFramework="net45" />
  <package id="fastJSON" version="2.1.16" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net45" />
</packages>